@model CorpPolicy.Models.Policy

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Policy</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.PolicyNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PolicyNo)
                @Html.ValidationMessageFor(model => model.PolicyNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientNo, "ClientNo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClientNo", String.Empty)
                @Html.ValidationMessageFor(model => model.ClientNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InsurerID, "InsurerID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("InsurerID", String.Empty)
                @Html.ValidationMessageFor(model => model.InsurerID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PolicyTypeID, "PolicyTypeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PolicyTypeID", String.Empty)
                @Html.ValidationMessageFor(model => model.PolicyTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cancelled, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cancelled)
                @Html.ValidationMessageFor(model => model.Cancelled)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InceptionDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InceptionDate)
                @Html.ValidationMessageFor(model => model.InceptionDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnnivMonth, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnnivMonth)
                @Html.ValidationMessageFor(model => model.AnnivMonth)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RenewalDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RenewalDate)
                @Html.ValidationMessageFor(model => model.RenewalDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CancellationDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CancellationDate)
                @Html.ValidationMessageFor(model => model.CancellationDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Frequeny, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Frequeny)
                @Html.ValidationMessageFor(model => model.Frequeny)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Insured, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Insured)
                @Html.ValidationMessageFor(model => model.Insured)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdminFee, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdminFee)
                @Html.ValidationMessageFor(model => model.AdminFee)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BrokerFee, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BrokerFee)
                @Html.ValidationMessageFor(model => model.BrokerFee)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Created, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created)
                @Html.ValidationMessageFor(model => model.Created)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedBy)
                @Html.ValidationMessageFor(model => model.CreatedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Changed, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Changed)
                @Html.ValidationMessageFor(model => model.Changed)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChangedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChangedBy)
                @Html.ValidationMessageFor(model => model.ChangedBy)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
